altgraph==0.17.4
annotated-types==0.6.0
anyio==4.2.0
astroid==3.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.7
exceptiongroup==1.2.0
fastapi==0.109.0
gotrue==2.1.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
importlib-metadata==7.0.1
isort==5.13.2
macholib==1.16.3
mccabe==0.7.0
networkx==2.8.8
numpy==1.26.3
packaging==23.2
pandas==2.1.4
pefile==2023.2.7
platformdirs==4.1.0
postgrest==0.13.2
pydantic==2.5.3
pydantic_core==2.14.6
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pylint==3.0.3
python-dateutil==2.8.2
python-multipart==0.0.6
python-tsp==0.4.0
pytz==2023.3.post1
pywin32-ctypes==0.2.2
realtime==1.0.2
requests==2.31.0
routingpy==1.3.0
six==1.16.0
sniffio==1.3.0
starlette==0.35.1
storage3==0.7.0
StrEnum==0.4.15
supabase==2.3.3
supafunc==0.3.3
tabulate==0.8.10
tomli==2.0.1
tomlkit==0.12.3
tsplib95==0.7.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
uvicorn==0.25.0
websockets==11.0.3
wrapt==1.16.0
zipp==3.17.0
